body {
	margin: 0;
	background-color: #eeeff3;
	font-family: -apple-system, 'Helvetica';
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
